
.loading_box {
    width: 100px;
    height: 20px;
    background-color: #f0f0f04e;
    border: 1px solid #323a84;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.load {
    width: 0;
    height: 100%;
    background-color: #323a84;
    position: absolute;
    animation: progress 2s linear infinite;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}