.loading_box {
    width: 75px;
    height: 55px;
    border: 1px solid #282343;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #282343;
    text-align: center;
    font-family: "Inter";
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #282343;
    border-radius: 50%;
    position: absolute;
    animation: run 4s linear infinite;
}

@keyframes run {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 65px;
    }

    50% {
        top: 45px;
        left: 65px;
    }

    75% {
        top: 45px;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}
